*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 50%;
    margin: 50px auto;
}

h1 {
    margin: 15px 0;
}

.result {
    font-size: 30px;
    width: 100%;
    margin: 20px;
}

.num1-card,
.num2-card {
    display: inline-block;
    width: 250px;
    height: 200px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}

.num1-card {
    background: #defffa;
}

.num2-card {
    background: rgb(255, 245, 216);
}

button[type="submit"] {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 9999px;
    border: none;
    outline: none;
    background: #ffcece;
    margin: 15px;
    position: relative;
    bottom: 0;
    left: 0;
    box-shadow: 0 7px 0 0 rgb(0, 0, 0);
}

button[type="submit"]:hover {
    bottom: -2px;
    box-shadow: 0 5px 0 0 rgb(0, 0, 0);
}

button[type="submit"]:active {
    bottom: -4px;
    box-shadow: 0 3px 0 0 rgb(0, 0, 0);
}

label.number {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    width: 120px;
    background: #d3d3d3;
    padding: 8px;
    border-radius: 9999px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

input.num-input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(179, 179, 179);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::placeholder {
    font-size: 11px;
}

select[name="operator"] {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 0 28px;
    outline: none;
    font-size: 30px;
    margin: 0 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}
