body {
    font-family: sans-serif;
    color: rgb(58, 58, 58);
    line-height: 150%;
}

.container {
    padding: 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

/**********************************/
/************* Header *************/
/**********************************/
header.top-header h1.main-title {
    text-align: center;
}

header.top-header h2.sub-title {
    text-align: center;
    font-size: 16px;
}

/*********************************/
/********* Section Image *********/
/*********************************/
div.img-section {
    padding-top: 20px;
    background-color: #fff;
}

div.img-section figure img {
    display: block;
    width: 65%;
    margin: 0 auto;
}

div.img-section figure figcaption {
    padding: 25px 0;
    text-align: center;
}

/********************************/
/***** Section Biographique *****/
/********************************/
div.bio-section {
    width: 40%;
    margin: 20px auto;
}

div.bio-section h2.bio-section-title {
    padding: 30px 0;
    text-align: center;
    font-size: 22px;
}

div.bio-section ul>li {
    padding: 10px 0;
    line-height: 150%;
}

div.bio-section div.citation-block {
    margin: 10px 0;
    padding-left: 20px;
}

div.bio-section q {
    display: block;
    font-style: italic;
    quotes: "\"" "\"" "'" "'";

}

div.bio-section cite {
    display: block;
    margin: 20px 0;
}

div.read-more-section p {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}