*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: url("./img/77eba96f-451f-41a9-a880-2ccb965e1926.jpeg") center
        top no-repeat;
        background-size: cover;
    width: 100%;
    color: #fff;
}

.container {
    background: rgba(50, 50, 95, 0.699);
    background: linear-gradient(
        145deg,
        rgb(50, 50, 95) 0%,
        rgba(50, 50, 95, 0.741) 65%,
        rgba(50, 50, 95, 0.529) 100%
    );
    width: 100%;
}

/***************************/
/**** Titres formulaire ****/
/***************************/
.titles {
    margin: 0 0 25px 0;
}

.titles h1 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

.titles h2 {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
}

/**************************/
/******* Formulaire *******/
/**************************/
.form-container {
    width: 50%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    padding: 30px;
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.219); */
}

.form-group {
    margin: 20px auto;
    width: 95%;
    position: relative;
}

/**************************************/
/******* Label text & Recommend *******/
/**************************************/
.form-group .text-label,
.recommend-label {
    display: block;
    margin: 10px 0;
}

span.optional-filed {
    font-size: 12px;
}

/*****************************************/
/******* Input text & Input select *******/
/*****************************************/
.form-survey .text-input,
.form-survey select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    color: #3b3b3b;
}

/**************************/
/******* Input logo *******/
/**************************/
.form-group img {
    display: block;
    position: absolute;
    width: 15px;
    height: auto;
    top: 45px;
    right: 10px;
    z-index: 2;
}

/***************************************/
/******* Radio / Checkbox Labels *******/
/***************************************/
.radio-group .radio-label,
.checkbox-group .checkbox-label {
    padding-left: 5px;
}

.radio-group .radio-input,
.checkbox-group .checkbox-input {
    transform: scale(1.2);
}

/************************/
/******* Textarea *******/
/************************/
textarea {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 150px;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
    border: none;
    outline: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}

/*****************************/
/******* Submit button *******/
/*****************************/
.form-survey button {
    display: block;
    cursor: pointer;
    margin: 50px 0 50px 0;
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #37af65;
    color: #fff;
    font-size: 16px;
}
