$headerHeight: 70px;
$lightGrey: #b9bbc7;
$backgroundColor: #eef1f9;

@mixin navIconCustom() {
    color: lighten(#1d1d2d, 20%);
    padding-right: 10px;
}

// Reset margin & padding to all selector
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: $backgroundColor;
    a {
        text-decoration: none;
        color: $lightGrey;
    }
    li {
        list-style: none;
    }
}

.clear {
    clear: both;
}

/******************
Header & Content
******************/
.header-content-container {
    float: right;
    width: 85%;
    height: 100vh;
}

/***********
Header
***********/
header.header {
    height: $headerHeight;
    background: #fff;
    margin-bottom: 30px;
    padding: 0 25px;
    .left-header {
        float: left;
        height: $headerHeight;
        h1.page-title {
            height: $headerHeight;
            line-height: $headerHeight;
            display: inline-block;
            font-size: 20px;
            margin-right: 10px;
        }
        .ariane {
            height: $headerHeight;
            display: inline-block;
            a {
                height: $headerHeight;
                line-height: $headerHeight;
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }
    .right-header {
        float: right;
        height: $headerHeight;
        p.welcome-text {
            height: $headerHeight;
            line-height: $headerHeight;
            display: inline-block;
            font-size: 14px;
            color: $lightGrey;
            a {
                color: black;
            }
        }
        .avatar {
            display: inline-block;
            height: $headerHeight;
            img {
                position: relative;
                width: 40px;
                height: 40px;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 5px;
                border-radius: 5px;
            }
        }
    }
}

/***********
Content
***********/
main.content-container {
    width: 85%;
    margin: 0 auto;
    .info {
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        i {
            position: relative;
            float: left;
            width: 5%;
            text-align: center;
            height: 50px;
            vertical-align: middle !important;
            align-items: center;
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .text-info-container {
            float: right;
            width: 95%;
            .text-info {
                a {
                    color: #74b7ff;
                }
            }
        }
    }
    .content {
        margin: 30px 0;
        .table-title-container {
            background: #fff;
            padding: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 2px solid #EEF1F9;
            h1.table-title {
                font-size: 20px;
            }
            p.table-subtitle {
                color: $lightGrey;
                font-size: 14px;
            }
        }
        .table-container {
            padding: 30px;
            background: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            table {
                width: 95%;
                margin: 0 auto;
                border-collapse: collapse;
                border-radius: 5px;
                font-size: 14px;
                thead tr th {
                    border: 1px solid $lightGrey;
                    padding: 10px;
                    text-align: left;
                    height: 50px;
                }
                tbody tr td {
                    border: 1px solid $lightGrey;
                    padding: 10px;
                    height: 50px;
                    color: #3f4355;
                }
                tbody tr td:last-child .action-logo {
                    display: flex;
                    justify-content: space-around;
                    
                }
                thead tr th:last-child, tbody tr td:last-child {
                    width: 12%;
                }
            }
        }
    }
}

/******************
Side menu
******************/
.side-menu {
    float: left;
    width: 15%;
    background: #1d1d2d;
    height: 100vh;
    .admin {
        h2.menu-title {
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            background: rgba(0, 0, 0, 0.158);
            height: 70px;
            line-height: 70px;
            padding-left: 20px;
        }
    }
    .nav-container {
        padding-left: 20px;
        .navlink-container {
            height: 80px;
            line-height: 80px;
            i {
                @include navIconCustom;
            }
        }
        h2 {
            color: lighten(#1d1d2d, 20%);
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul li i {
            @include navIconCustom;
        }
    }
}

/******************
Footer
******************/
footer {
    float: right;
    width: 85%;
    padding: 0 25px;
    height: 70px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    .links {
        float: left;
        height: 70px;
        ul {
            li {
                display: inline-block;
                padding: 0 5px;
                height: 70px;
                line-height: 70px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .copyright {
        float: right;
        height: 70px;
        line-height: 70px;
        color: $lightGrey;
        font-size: 14px;
    }
}
