*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eef1f9;
}
body a {
  text-decoration: none;
  color: #b9bbc7;
}
body li {
  list-style: none;
}

.clear {
  clear: both;
}

/******************
Header & Content
******************/
.header-content-container {
  float: right;
  width: 85%;
  height: 100vh;
}

/***********
Header
***********/
header.header {
  height: 70px;
  background: #fff;
  margin-bottom: 30px;
  padding: 0 25px;
}
header.header .left-header {
  float: left;
  height: 70px;
}
header.header .left-header h1.page-title {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}
header.header .left-header .ariane {
  height: 70px;
  display: inline-block;
}
header.header .left-header .ariane a {
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  padding: 0 10px;
}
header.header .right-header {
  float: right;
  height: 70px;
}
header.header .right-header p.welcome-text {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  font-size: 14px;
  color: #b9bbc7;
}
header.header .right-header p.welcome-text a {
  color: black;
}
header.header .right-header .avatar {
  display: inline-block;
  height: 70px;
}
header.header .right-header .avatar img {
  position: relative;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  border-radius: 5px;
}

/***********
Content
***********/
main.content-container {
  width: 85%;
  margin: 0 auto;
}
main.content-container .info {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
main.content-container .info i {
  position: relative;
  float: left;
  width: 5%;
  text-align: center;
  height: 50px;
  vertical-align: middle !important;
  align-items: center;
}
main.content-container .info i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main.content-container .info .text-info-container {
  float: right;
  width: 95%;
}
main.content-container .info .text-info-container .text-info a {
  color: #74b7ff;
}
main.content-container .content {
  margin: 30px 0;
}
main.content-container .content .table-title-container {
  background: #fff;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #EEF1F9;
}
main.content-container .content .table-title-container h1.table-title {
  font-size: 20px;
}
main.content-container .content .table-title-container p.table-subtitle {
  color: #b9bbc7;
  font-size: 14px;
}
main.content-container .content .table-container {
  padding: 30px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
main.content-container .content .table-container table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  font-size: 14px;
}
main.content-container .content .table-container table thead tr th {
  border: 1px solid #b9bbc7;
  padding: 10px;
  text-align: left;
  height: 50px;
}
main.content-container .content .table-container table tbody tr td {
  border: 1px solid #b9bbc7;
  padding: 10px;
  height: 50px;
  color: #3f4355;
}
main.content-container .content .table-container table tbody tr td:last-child .action-logo {
  display: flex;
  justify-content: space-around;
}
main.content-container .content .table-container table thead tr th:last-child, main.content-container .content .table-container table tbody tr td:last-child {
  width: 12%;
}

/******************
Side menu
******************/
.side-menu {
  float: left;
  width: 15%;
  background: #1d1d2d;
  height: 100vh;
}
.side-menu .admin h2.menu-title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.158);
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
}
.side-menu .nav-container {
  padding-left: 20px;
}
.side-menu .nav-container .navlink-container {
  height: 80px;
  line-height: 80px;
}
.side-menu .nav-container .navlink-container i {
  color: #45456b;
  padding-right: 10px;
}
.side-menu .nav-container h2 {
  color: #45456b;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.side-menu .nav-container ul li i {
  color: #45456b;
  padding-right: 10px;
}

/******************
Footer
******************/
footer {
  float: right;
  width: 85%;
  padding: 0 25px;
  height: 70px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .links {
  float: left;
  height: 70px;
}
footer .links ul li {
  display: inline-block;
  padding: 0 5px;
  height: 70px;
  line-height: 70px;
}
footer .links ul li a {
  font-size: 14px;
}
footer .copyright {
  float: right;
  height: 70px;
  line-height: 70px;
  color: #b9bbc7;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
