.footer-section {
    width: 1140px;
    margin: 0 auto;
    background: #32302f;
    color: #fff;
    .upper {
        padding: 27px 0;
        h4 {
            text-align: center;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 200;
            padding-bottom: 5px;
        }
        .footer-sn {
            display: flex;
            justify-content: center;
            a {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
                line-height: 64px;
                text-decoration: none;
                font-size: 2.125rem;
                margin: 5px;
                border: 2px solid #fff;
                border-radius: 50%;
                color: #fff;
                i {
                    transition: all 0.1s ease;
                }
            }
        }
        $snColors: (
            "fb": #3b5998,
            "tw": #1da1f2,
            "tt": #ffffff,
            "yt": #e62117,
            "ttv": #6117d1,
            "pin": #cb2027,
            "ins": #ee4d5e,
            "sna": #f7f400,
            "spo": #1ed760,
            "li": #0a66c2,
            "rss": #dd6e2b,
        );

        @each $name, $color in $snColors {
            .sn-#{$name} {
                color: $color;
                &:hover {
                    color: $color;
                    border-color: $color;
                }
                &:hover i {
                    font-size: 2.5rem;
                }
            }
        }
    }
    .lower {
        padding: 13px 27px;
        background: linear-gradient(#4d4d4d, #39393b);
        position: relative;
        height: 73px;
        font-family: "Montserrat", sans-serif;
        color: #d0d0d0;
        .footer-menu {
            ul {
                list-style: none;
                height: 23px;
                li {
                    display: inline-block;
                    &:not(:first-child)::before {
                        content: "|";
                        color: #515151;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    a {
                        color: #d0d0d0;
                        text-decoration: none;
                        font-size: 0.75rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .copy-right {
            font-size: 13.3px;
            line-height: 22px;
            .tiret {
                color: #515151;
            }
        }
        .footer-logo {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
