.tv-area {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 0 25px 100px 25px;
    .left-block {
        width: 40%;
        background: #32302f;
        padding: 15px 15px 15px 0;
        h2 {
            color: #fff;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-align: center;
            margin: 25px 0 25px 15px;
            line-height: 1;
            font-weight: 700;
            position: relative;
            span {
                padding: 0 85px;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    height: 4px;
                    width: 80px;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
        }
        .container {
            article {
                margin: 15px 0;
                a {
                    text-decoration: none;
                    display: flex;
                    transition: all 0.3s ease;
                    .left-block-img-container {
                        overflow: hidden;
                        width: 50%;
                        position: relative;
                        margin-right: 15px;
                        .far {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            font-size: 4rem;
                            transform: translate(-50%, -50%);
                            color: rgba(255, 255, 255, 0.534);
                            z-index: 99999;
                        }
                        img {
                            max-width: 100%;
                            transition: all 0.3s ease;
                        }
                    }
                    .left-block-content {
                        width: 50%;
                        padding-right: 10px;
                        text-align: center;
                        text-transform: uppercase;
                        .category {
                            display: block;
                            color: $color-yellow;
                            padding-bottom: 10px;
                        }
                        .title {
                            font-size: 1.25rem;
                            line-height: 1;
                            color: #fff;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                    &:hover img {
                        transform: scale(1.1);
                    }
                    &:hover {
                        background: lighten(#32302f, 10%);
                    }
                }
            }
        }
        .all-movies-button {
            margin: 20px 0;
            @include darkButton();
        }
    }
    .right-block {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-container {
            overflow: hidden;
            position: relative;
            span {
                img {
                    display: block;
                    max-width: 156%;
                    transition: all 0.3s ease;
                }
            }
            .far {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgba(255, 255, 255, 0.39);
                font-size: 8.75rem;
                z-index: 99999;
            }
            &:hover img {
                transform: scale(1.1);
            }
        }
    }
}
