*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
}

.container {
    width: 50%;
    padding: 50px;
    background: rgb(240, 240, 240);
    height: 100vh;
    outline: none;
    margin: 0 auto;
}

input[type="number"] {
    padding: 15px 10px;
    height: 30px;
    font-size: 18px;
    border-radius: 9999px;
    border: 1px solid #000;
    outline: none;
}

input:focus {
    box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.7);
}

button {
    display: block;
    margin: 25px 0;
    width: 200px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 9999px;
    border: 1px solid #000;
    transition: all 0.4s ease-in-out;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
}

button:hover {
    background: rgb(167, 167, 167);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
}

p.error {
    color: red;
}

p.value {
    height: 50px;
    line-height: 30px;
    border-radius: 9999px;
    text-align: center;
    padding: 10px;
    width: 300px;
    font-size: 20px;
    background: rgb(202, 202, 202);
}

p.value span {
    color: red;
}
