*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.pays {
    border: 1px solid black;
    margin: 2px;
}

.pays img.flag {
    width: 30%;
    float: left;
    margin-right: 25px;
}
ul.listePays {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
}

.pays::after {
    display: block;
    content: "";
    clear: both;
}